body {
    font-family: arial, sans-serif;
    text-align: center;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.card img {
    width: 150px;
    height: 150px;
}

.card{
    background-color: #839cbe;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0 0 15px #00000055;
}