body {
    font-family: arial, sans-serif;
    text-align: center;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}


.card img {
    width: 150px;
    height: 150px;
    position: relative;
}

.favorite {
    position:absolute;
    right: 10px;
    top: 8px;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    transition: transform 0.2s;
}



.card{
    background-color: #839cbe;
    border-radius: 12px;
    width: 200px;
    box-shadow: 0 0 15px #00000055;
}